<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">


  <head>
       <meta charset="utf-8" />
    <title>Ray Tools</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.css" rel="stylesheet">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
     <!-- 时间选择器-->
      <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
      <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
      <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  </head>


<body>


<div class="container body-content" style="padding-top:20px;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">车牌号：</label>
                        <input id="txtPlateNumber" type="text" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">电话：</label>
                        <input id="txtPhone" type="text" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">采集时间：</label>
                        <input type='text' class="form-control" id='datetimepicker1' />

                    </div>
                </div>

                <div class="row text-right" style="margin-top:20px;">

                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="button" value="导出" onclick="DownloadData()">
                        <input class="btn btn-primary" type="button" value="查询" onclick="SearchData()">
                    </div>
                </div>
            </form>
        </div>
    </div>


<table id="table"></table>
</div>
<script type="text/javascript">
 $(function () {
    var t =  $("#table").bootstrapTable({ // 对应table标签的id
         url: 'http://localhost:8000/licensejson',
         method: 'get',
         dataType: "json",
         striped: true,//设置为 true 会有隔行变色效果
         undefinedText: "空",//当数据为 undefined 时显示的字符
         pagination: true, //分页
         // paginationLoop:true,//设置为 true 启用分页条无限循环的功能。
         showToggle: false,//是否显示 切换试图（table/card）按钮
         showColumns: true,//是否显示 内容列下拉框
         pageNumber: 1,//如果设置了分页，首页页码
         // showPaginationSwitch:true,//是否显示 数据条数选择框
         pageSize: 5,//如果设置了分页，页面数据条数
         pageList: [5, 10, 20, 40],  //如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
         paginationPreText: '‹',//指定分页条中上一页按钮的图标或文字,这里是<
         paginationNextText: '›',//指定分页条中下一页按钮的图标或文字,这里是>
         // singleSelect: false,//设置True 将禁止多选
         search: false, //显示搜索框
         data_local: "zh-US",//表格汉化
         sidePagination: "server", //服务端处理分页
         toolbar:"#toolbar",
         toolbarAlign:'left',//显示工具栏
         idField: "province",//指定主键列
        queryParams:queryParams,
         columns: [
             {
                 field: 'licenseplate',
                 title: "车牌号",
                 align: 'center',
                 valign: 'middle',
             }, {
                 field: 'phonenum',
                 title: "电话",
                 align: 'center',
                 valign: 'middle',
             }, {
                 field: 'remark',
                 title: "备注",
                 align: 'center',
                 valign: 'middle',
             }, {
                 field: 'author',
                 title: "采集人",
                 align: 'center',
                 valign: 'middle',
             },{
                 field: 'createDate',
                 title: "采集时间",
                 align: 'center',
                 valign: 'middle',
             },

         ],
         onLoadSuccess: function (json) {  //加载成功时执行
             console.info("加载成功");

         },
         onLoadError: function () {  //加载失败时执行
             console.info("加载数据失败");
         }

     });
       t.on('load-success.bs.table', function () {//table加载成功后的监听函数
        console.log("load success");
        $(".pull-right").css("display", "block");
      });

               $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD hh:mm',


    });
 });
   //查询条件
    function queryParams(params) {
        return {
            offset: params.offset,//从数据库第几条记录开始
            pageSize: params.limit,//找多少条
            plate: $.trim($("#txtPlateNumber").val()),
            phone: $.trim($("#txtPhone").val()),
            time: $.trim($("#datetimepicker1").val()),
        };
    }

     function SearchData() {
        $('#table').bootstrapTable('refresh', { pageNumber: 1 });
    }

       function DownloadData() {
        window.location.href="localhost:8000/downExcel"
    }

</script>
</body>

</html>